html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/imagem-painel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.container {
    margin: auto;
    background-color: #0b2061f5;
    max-width: 40rem;
    margin-top: 20rem;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.texto{
    line-height: 3rem;
    background-color: white;
    color: #0b2061;
    border-radius: 0.5rem;
}

#val_etanol {
    margin-left: 2.2rem;
    color: #0b2061;
}

#val_gasolina {
    color: #0b2061;
}

#resultado {
    background-color: white;
    color: #0b2061;
    border-radius: 1rem;
}

#botao_calcular {
    background-color: white;
    color: #0b2061;
    padding: 0.8rem;
    border-radius: 1rem;

}

@media only screen and (max-width: 95rem){
    html {
        font-size: 62.5%;
    }
}